.qq-uploader {
    width: 315px;
    height: 315px;
    position: relative;
}

.qq-upload-button {
    display:block;
    padding: 0;
    text-align:center;    
    width: 315px;
    height: 315px;
    cursor: pointer;
}

.qq-upload-button input {
    display:block;
    width: 315px;
    height: 315px;
    cursor: default!important;
}


/*
.qq-upload-button-hover {background:#cc0000;}
.qq-upload-button-focus {outline:1px dotted black;}
*/
.qq-upload-drop-area {
    position:absolute;
    top:0; left:0;
    width:315px;
    height:315px;
    min-height: 70px;
    z-index:2;
    text-align:center; 
}
/*
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
*/
.qq-upload-drop-area-active {
     width:305px;
    height:305px;
    border:5px solid #555;
}

.qq-upload-list {display:none!important;}{
    /*
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {
    display: inline-block;
    width: 250px;
}
.qq-upload-spinner {display:inline-block; background: url("loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}
*/
